.full-page-container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;

  .error-message {
    flex: 1 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 1026px;
    width: 100%;

    .title {
      color: #673ab7;
      font-size: 36px;
    }

    .sub-title {
      color: #727272;
      font-size: 24px;
    }
  }
}
