:host {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  mat-toolbar {
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .github-link {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
