::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding: 1px 8px 8px 24px;
  }

  mat-datepicker-toggle > .mat-focus-indicator.mat-icon-button.mat-button-base {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E0DBF9;
  }

  .mat-select-arrow-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E0DBF9;
    transform: translateY(-17px);

    .mat-select-arrow {
      margin: 0 19px;
    }
  }

  .mat-form-field-type-mat-input .mat-form-field-infix,
  .mat-form-field-type-mat-select .mat-form-field-infix {
    border: 0;
    margin-top: 17px;
  }
}

.form-card {
  &__content {
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .mat-subtitle {
        font-size: 14px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        color: #59537B;
      }

      .mat-subtitle {
        margin-top: 5px;
      }
    }

    .mat-form-field-type-mat-input, .mat-form-field-type-mat-select {
      width: 48%;
      height: 64px;
      border: 1px solid #E6E8EA;
      box-sizing: border-box;
      border-radius: 100px;
      margin-top: 32px;

      div.mat-form-field-wrapper {
        padding: 10px;
      }
    }

    .mat-form-field-wrapper {
      padding: 10px;
    }

    .form-group-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .mat-caption {
      text-align: center;
      margin-top: 0.5em;
      font-size: 0.8em;
    }

    .mat-title {
      margin: 0.5em 0;
    }

    button[type=submit] {
      $height: 56px;
      height: $height;
      width: 220px;
      display: flex;
      justify-content: center;
      border-radius: $height / 2;
      padding: 9px;
      margin: 56px auto 0;

      mat-icon {
        margin-left: 45px;
        margin-top: -5px;
        vertical-align: middle;
      }
    }

    #fill-example-data {
      padding: 10px 16px;
      width: 202px;
      height: 40px;
      background: #624DE3;
      border-radius: 8px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-left: auto;
    }
  }
}
