<mat-card class="form-card mat-typography">
  <mat-card-content class="form-card__content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <!--   Form group for collecting demographics information.   -->
      <ng-container *ngIf="!isDemographicsInfoProvided">
        <h2 class="mat-title">
          Beneficiary Billing Information
        </h2>
        <h3 class="mat-subtitle">
          A few things about the person benefiting from this payment
        </h3>
        <div formGroupName="demographics" class="form-group-container">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input
                matInput
                formControlName="firstName"
                placeholder="First Name"
                required
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input
                matInput
                formControlName="lastName"
                placeholder="Last Name"
                required
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input
                matInput
                formControlName="phoneNumber"
                placeholder="Phone Number"
                required
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input
                matInput
                placeholder="Birthday"
                [matDatepicker]="datepicker"
                formControlName="dateOfBirth"
                required>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker startView="multi-year"></mat-datepicker>
          </mat-form-field>

          <div formGroupName="mailingAddress" class="form-group-container">
            <mat-form-field>
              <mat-label>Street Address</mat-label>
              <input
                  matInput
                  placeholder="Street Address"
                  formControlName="line1"
                  required
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Street Address Line 2</mat-label>
              <input
                  matInput
                  placeholder="Street Address Line 2"
                  formControlName="line2"
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>City</mat-label>
              <input
                  matInput
                  placeholder="City"
                  formControlName="city"
                  required
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select
                  formControlName="state"
                  class="mat-select-field"
                  required
              >
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of states"
                            [value]="state.ansi">
                  {{state.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Zip Code</mat-label>
              <input
                  matInput
                  placeholder="Zip Code"
                  formControlName="zipCode"
                  required
              >
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <h2 class="mat-title">
        Payment Amount
      </h2>
      <h3 class="mat-subtitle">
        This much will be withdrawn from the app's funding source and sent to
        selected loan
      </h3>
      <mat-form-field>
        <mat-label>Payment Amount</mat-label>
        <input
            matInput
            formControlName="amount"
            type="number"
            placeholder="Payment Amount"
            required
        >
      </mat-form-field>

      <button
          type="submit"
          [disabled]="!form.valid"
          mat-flat-button
          color="primary">
        <span *ngIf="!loading; else loader">Perform Payment</span>
        <ng-template #loader>
          <mat-progress-spinner mode="indeterminate" [diameter]="26"></mat-progress-spinner>
        </ng-template>
      </button>
      <div *ngIf="!form.valid && form.touched && form.enabled" class="mat-caption">
        Please fill all required fields.
        <div>
          Required fields are marked with *.
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
