// Remove card styling for smaller displays.
@media screen and (max-width: 620px) {
  mat-form-field {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-group-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-caption {
  text-align: center;
  margin-top: 0.5em;
  font-size: 0.8em;
}

.mat-title {
  margin: 0.5em 0;
}

mat-datepicker-toggle {
  position: absolute;
  right: 0;
  bottom: -5px;
}

button[type=submit] {
  height: 38px;
  display: flex;
  justify-content: center;
}
