<img class="logo-title" src="../assets/images/logo.svg" alt="logo"/>

<mat-card class="form-card mat-typography">
  <app-header></app-header>
  <app-stepper></app-stepper>

  <ng-container [ngSwitch]="currentStep$ | async">
    <app-create-beneficiary *ngSwitchCase="DemoProgress.CREATE_BENEFICIARY"></app-create-beneficiary>

    <app-link-loan *ngSwitchCase="DemoProgress.LINK_LOAN"></app-link-loan>

    <app-create-payment *ngSwitchCase="DemoProgress.CREATE_PAYMENT"></app-create-payment>

    <app-payment-status *ngSwitchCase="DemoProgress.CHECK_PAYMENT"></app-payment-status>
  </ng-container>
</mat-card>
