.status-form {
  display: grid;

  button {
    width: 138px;
    margin: 56px auto;
    font-size: 16px;
    background-color: #624de3;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
  }

  .status-title {
    width: 100%;
    margin-bottom: 23px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
  }

  pre {
    width: 100%;
    padding: 32px 24px 28px;
    margin: 0;
    box-sizing: border-box;
    background-color: #222226;
    border-radius: 16px;
    color: #9da1aa;
    font-family: IBM Plex Mono, sans-serif;
    overflow: scroll;
  }
}
